<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.colourfulchina.bigan.mapper.CaccomMapper">
    <resultMap id="BaseResultMap" type="com.colourfulchina.bigan.api.entity.Caccom">

    </resultMap>



    <!-- C端项目住宿含套餐分页查询 -->
    <select id="selectListPage" parameterType="map" resultType="com.colourfulchina.bigan.api.entity.Caccom" >
        SELECT * FROM CLF_Caccom a
        <where>
            and del_flag=0
            <if test="country != null and country != ''">
                and a.country like '%'+#{country}+'%'
            </if>
            <if test="city != null and city != ''">
                and a.city like '%'+#{city}+'%'
            </if>
            <if test="hotelCh != null and hotelCh != ''">
                and a.hotel_ch like '%'+#{hotelCh}+'%'
            </if>
            <if test="hotelEn != null and hotelEn != ''">
                and a.hotel_en like '%'+#{hotelEn}+'%'
            </if>
            <if test="productName != null and productName != ''">
                and a.product_name like '%'+#{productName}+'%'
            </if>
            <if test="houseType != null and houseType != ''">
                and a.house_type like '%'+#{houseType}+'%'
            </if>
            <if test="salePeriod != null and salePeriod != ''">
                and a.sale_period like '%'+#{salePeriod}+'%'
            </if>
            <if test="unit != null and unit != ''">
                and a.unit like '%'+#{unit}+'%'
            </if>
            <if test="price != null and price != ''">
                and a.price like '%'+#{price}+'%'
            </if>
            <if test="contractStart != null and contractStart != ''">
                and a.contract_start = #{contractStart}
            </if>
            <if test="contractEnd != null and contractEnd != ''">
                and a.contract_end = #{contractEnd}
            </if>
            <if test="proPrice != null and proPrice != ''">
                and a.pro_price like '%'+#{proPrice}+'%'
            </if>
            <if test="standard != null and standard != ''">
                and a.standard like '%'+#{standard}+'%'
            </if>
            <if test="address != null and address != ''">
                and a.address like '%'+#{address}+'%'
            </if>
            <if test="guaxing != null and guaxing != ''">
                and a.guaxing like '%'+#{guaxing}+'%'
            </if>
        </where>
    </select>

    <update id="logicDelById">
        update Clf_Caccom set del_flag=1,update_time=GETDATE() where id=#{id}
    </update>

</mapper>