<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.colourfulchina.bigan.mapper.ClfSocialMeatMapper">
    <resultMap id="BaseResultMap" type="com.colourfulchina.bigan.api.entity.ClfSocialMeat">

    </resultMap>
    <select id="selectClfSocialMeatPage" resultType="com.colourfulchina.bigan.api.entity.ClfSocialMeat">

        select * from Clf_Social_Meat as gym
        where 1=1 and del_flag=0
        <if test="city != null and city != ''">
            and gym.city = #{city}
        </if>
        <if test="hotelCh != null  and hotelCh != ''">
            and gym.hotel_ch = #{hotelCh}
        </if>
        <if test="hotelEn != null  and hotelEn != ''">
            and gym.hotel_en = #{hotelEn}
        </if>


    </select>

    <update id="logicDelById">
        update Clf_Social_Meat set del_flag=1,update_time=GETDATE() where id=#{id}
    </update>


</mapper>